@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
}

html {
  overflow-y: scroll;
  font-family: var(--font-mono);
}

button {
  cursor: pointer;
}

.maplibregl-ctrl-attrib {
  display: none !important;
}
