@import "tailwindcss";

@theme {
  --breakpoint-xs: 34rem;
}

html {
  overflow-y: scroll;
  font-family: var(--font-mono);
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  height: 100lvh;
  background-image: url("$lib/assets/m05.webp");
  background-size: cover;
  background-position: center;
  z-index: -10;
}

button {
  cursor: pointer;
}

.maplibregl-ctrl-attrib {
  display: none !important;
}
