@import "tailwindcss";

@theme {
  --breakpoint-xs: 34rem;
}

html {
  overflow-y: scroll;
  font-family: var(--font-mono);
  background-image: url("/m05.webp");
  background-attachment: fixed;
  background-size: cover;
}

button {
  cursor: pointer;
}

.maplibregl-ctrl-attrib {
  display: none !important;
}
